{% include 'header.html' %}
<div class="mast">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-danger">Command</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ command.uuid }}</span>
        </div>
        <div class="col-md-6 text-right">
            <span class="badge badge-danger">Group</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;"><a href="{{ url_for('group_detail', group=command.group.uuid) }}">{{ command.group.uuid }}</a></span>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h2>{{ command.cmd_str }}</h2>
        </div>
        </div>
    </div>
</div>

<div class="container">

<h3>Meta</h3>

<table class="table table-active">
<tbody>
    <tr>
        <th>Queued</th>
        <td>{{ command.queued_at }}</td>
    </tr>
    <tr>
        <th>Started</th>
        <td>{{ command.started_at }}</td>
    </tr>
    <tr>
        <th>Finished</th>
        <td>{{ command.finished_at }}</td>
    </tr>
    <tr>
        <th>Exit Code</th>
        <td>{{ command.return_code }}</td>
    </tr>
</tbody>
</table>

<hr>

<h3>Affected Resources</h3>
<table class="table table-hover table-active">
    <thead class="thead-inverse">
        <tr>
            <th width="5%"></th>
            <th>Path</th>
            <th class="text-right" width="20%">Hash</th>
        </tr>
    </thead>
    <tbody>
    {% for effect in command.resource_effects | reverse %}
    <tr>
        <td class="text-center"><b>{{ effect.effect_status }}</b></td>
        <td>
            <span class="uuid-mast" style="margin-top:0; padding-top:0; display:block;"><a href="{{ url_for('resource_detail', resource=effect.resource.uuid) }}">{{ effect.resource.full_path }}</a></span>
        </td>
        <td class="text-right">{{ effect.resource_hash }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan=3>No effect.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% include 'footer.html' %}

