{% include 'header.html' %}
<div class="mast">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <span class="badge badge-danger">Group</span>
            <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ group.uuid }}</span>
        </div>
        <div class="col-md-6 text-right">
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        </div>
        </div>
    </div>
</div>

<div class="container">

<h3>Command Summary</h3>

<table class="table table-hover table-active table-sm">
    <thead class="thead-inverse">
        <tr>
            <th></th>
            <th width="5%" class="text-center">Exit</th>
        </tr>
    </thead>
    <tbody>
    {% for command in group.commands %}
    <tr>
        <td>
            <span class="uuid-mast" style="margin-top:0; padding-top:0; display:block;"><a href="{{ url_for('command_detail', command=command.uuid) }}">{{ command.uuid }}</a></span>
            <code>{{ command.cmd_str }}</code>
        </td>
        <td class="text-center">{{ command.return_code }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan=3>No commands.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<hr>
<h3>Commands</h3>

{% for command in group.commands %}
<div style="border-style: solid; border-width: 0 0 0 5px; padding-left: 5px; margin-bottom: 30px;" class="command">
    <div style="font-size: 1.25em">
    <span class="badge badge-warning">{{ command.order }}</span>
    <span class="uuid-mast" style="display:inline; color: #AAA; margin-top:0; padding-top:0;">{{ command.uuid }}</span>
    </div>
    <div class="well"><code>{{ command.cmd_str }}</code></div>
<table class="table table-hover table-active">
    <thead class="thead-inverse">
        <tr>
            <th width="5%"></th>
            <th>Path</th>
            <th class="text-right" width="20%">Hash</th>
        </tr>
    </thead>
    <tbody>
    {% for effect in command.resource_effects | reverse %}
    <tr>
        <td class="text-center"><b>{{ effect.effect_status }}</b></td>
        <td>
            <span class="uuid-mast" style="margin-top:0; padding-top:0; display:block;"><a href="{{ url_for('resource_detail', resource=effect.resource.uuid) }}">{{ effect.resource.full_path }}</a></span>
        </td>
        <td class="text-right">{{ effect.resource_hash }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan=3>No effect.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% else %}
{% endfor %}
</div>

{% include 'footer.html' %}
