<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <div class="container">
    <div class="row">
    <h1>chitin</h1>
    <h4>you suck at science, you really really do</h4>
    <hr>
        {% for e in events %}
        <h3>{{ e.cmd }}</h3>
        <p>{{ e.uuid }}</p>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for file in e.items %}
            <tr>
                <td>{{ file.result_type }}</td>
                <td>{{ file.item.path }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    </div>
</body>
</html>
