{% include 'header.html' %}
<h3>{{ run.uuid }}</h3>
{% for block in run.blocks %}
    {% for command in block.commands %}
        <div class="row">
            <div class="well col-md-6">{{ command.cmd }}</div>
            <div class="well col-md-6">{{ command.cmd_uuid_str | chitin | safe }}</div>
        </div>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for file in command.resources %}
            <tr>
                <td>{{ file.status }}</td>
                <td>{{ file.hash }}</td>
                <td>{{ file.resource.current_path }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    {% endfor %}
{% endfor %}
{% include 'footer.html' %}


