{% include 'header.html' %}
<b>Job#</b>
<h3 style="margin-top:0; padding-top:0;">{{ run.uuid }}</h3>
<hr>
{% for block in run.blocks %}
    <div class="command-block">
    {% for command in block.commands %}
        <div class="command">
        <div>{{ command.cmd }}</div>
        <ul>
        {% for text in command.texts %}
            <li><a href="{{ url_for('text_detail', text=text.uuid) }}">{{ text.name }}</a></li>
        {% endfor %}
        </ul>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            {% for file in command.resources %}
            <tr>
                <td>{{ file.status }}</td>
                <td>{{ file.hash }}</td>
                <td>{{ file.resource.current_path }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% include 'footer.html' %}


