{% include 'header.html' %}
<b>Job#</b>
<h3 style="margin-top:0; padding-top:0;">{{ run.uuid }}</h3>
<hr>
{% for block in run.blocks %}
    <div class="command-block">
    {% for command in block.commands %}
        {% if command.return_code == -1 %}
            {% set bg = '#999999' %}
        {% elif command.return_code == 0 %}
            {% set bg = '#adebad' %}
        {% else %}
            {% set bg = '#ff9999' %}
        {% endif %}
        <div class="side-lamp" style="border-left-color: {{ bg }};">
            <div><b>Command</b></br><span class="tiny">{{ command.cmd | chitin | safe }}</span></div>

        {% if (command.texts.all())|length > 0 %}
            <br>
            <b>Text Records</b>
            <ul>
            {% for text in command.texts %}
                <li><a href="{{ url_for('text_detail', text=text.uuid) }}">{{ text.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if (command.resources.all())|length > 0 %}
            <br>
            <b>Resource Effects</b>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                {% for file in command.resources %}
                    {% if file.check_hash() %}
                        {% set bg = '#adebad' %}
                    {% else %}
                        {% set bg = '#ff9999' %}
                    {% endif %}
                <tr>
                    <td>{{ file.status }}</td>
                    <td style="background: {{ bg }}"><a href="{{ url_for('resource_detail', resource=file.resource.uuid) }}">{{ file.resource.current_path }}</a></td>
                </tr>
                {% if (file.meta.all())|length > 0 %}
                        {% for meta in file.meta %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{meta.key}}</td>
                            <td>{{meta.value}}</td>
                        </tr>
                        {% endfor %}
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if (command.meta.all())|length > 0 %}
            <br>
            <b>Metadata</b>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                {% for meta in command.meta %}
                <tr>
                    <td>{{meta.category}}</td>
                    <td>{{meta.key}}</td>
                    <td>{{meta.value | chitin | safe}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if command.return_code != -1 and command.return_code != 0 %}
            <div class="failure" style="margin-bottom: 15px;">
                <b>Return Code</b>
                {{ command.return_code }}
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% include 'footer.html' %}


