ENDPOINT_BASE = "http://localhost:5000/api/"
DATABASE_PATH = '~/chitin.db'

# Fill in with properties of your desired target node (call web_util.register_or_fetch_nodeq on server)
NODE_NAME = ""
NODE_UUID = ""

# Send a suitable request with util.
USER_UUID=''
CLIENT_UUID=''
CLIENT_TOKEN=''

